pip install transformers==4.42.0
pip install accelerate==0.27.2
pip install tiktoken==0.7.0
pip install einops==0.7.0
pip install transformers_stream_generator==0.0.4
pip install peft==0.11.1
pip install deepspeed==0.10.0
pip install pandas==2.0.1
pip install Jinja2==3.1.4
pip install trl==0.9.6
